<% include partials/header %>

<div class='container-content'>
	<h2>MY CLOSET</h2>
	<% include partials/alerts %>
	<div class='contianer'>
	<div id='favorited'>
		<img src='/favorited.jpg' class='img-responsive'>
	</div>
		<div class='row'>
			<div class='col-xs-8 cl-md-8'>
			<% if (typeof topPieces == 'undefined' || typeof bottomPieces == 'undefined' ) { %>
				<!-- BEGIN TOP CAROUSEL -->
				<div class='piece-container'>
					<div id='top-piece-carousel' class='carousel slide' data-ride='carousel' data-interval='false'>
						<div class='carousel-inner'>
					    <% for (i = 0; i < topPieces.length; i++) { %>
						    <div class='item<%= i==0 ? ' active' : '' %>'>
						    	<img src='http://res.cloudinary.com/drxybow0v/image/upload/c_fill,h_0.5,r_5,w_0.5/piece_<%= topPieces[i].id %>' data-pieceId='<%= topPieces[i].id %>' data-piecetypeId='<%= topPieces[i].piecetypeId %>' data-userId='<%= topPieces[i].userId %>' class='img-responsive'>
						    </div>
						<% } %>
						</div>
						<a class='left carousel-control' href='#top-piece-carousel' role='button' data-slide='prev'>
							<span class='glyphicon glyphicon-chevron-left'></span>
						</a>
						<a class='right carousel-control' href='#top-piece-carousel' role='button' data-slide='next'>
							<span class='glyphicon glyphicon-chevron-right'></span>
					    </a>
					</div>
				</div>
				<!-- END OF TOP CAROUSEL -->
				<!-- BEGIN BOTTOM CAROUSEL -->
				<div class='piece-container'>
					<div id='bottom-piece-carousel' class='carousel slide' data-ride='carousel' data-interval='false'>
						<div class='carousel-inner'>
					    <% for (i = 0; i < bottomPieces.length; i++) { %>
						    <div class='item<%= i==0 ? ' active' : '' %>'>
						    	<img src='http://res.cloudinary.com/drxybow0v/image/upload/c_fill,h_0.5,r_5,w_0.5/piece_<%= bottomPieces[i].id %>' data-pieceId='<%= bottomPieces[i].id %>' data-piecetypeId='<%= bottomPieces[i].piecetypeId %>' data-userId='<%= bottomPieces[i].userId %>' class='img-responsive'>
						    </div>
					    <% } %>
					    </div>
					    <a class='left carousel-control' href='#bottom-piece-carousel' role='button' data-slide='prev'>
					    	<span class='glyphicon glyphicon-chevron-left'></span>
					    </a>
					    <a class='right carousel-control' href='#bottom-piece-carousel' role='button' data-slide='next'>
					    	<span class='glyphicon glyphicon-chevron-right'></span>
					    </a>
					</div>
				</div>
				<!-- END OF BOTTOM CAROUSEL -->
			<% } else { %>
				<div class='text-center'>
					<img src='/uploadfirst.jpg'>
					<h2><strong>UPLOAD</strong> ITEMS TO VIEW YOUR CLOSET.</h2>
				</div>
			<% } %>
			</div>
			<div class='col-xs-3 col-md-3'>
				<div class='favorite-space'>
					<ol>
						<li><p>Click through items in your closet until you find a match.</p></li>
						<br />
						<br />
						<li><p>How would you describe this outfit?</p>
							<select class='selectTag form-control' data-style='btn-primary' name='selectTag'>
								<option selected disabled>Choose here</option>
								<% for (i = 0; i < tags.length; i++) { %>
									<option value="<%= tags[i].id %>" data-tagId='<%= tags[i].id %>' class='tagSelections'><%= tags[i].tag_name %></option>
								<% } %>
								</optgroup>
							</select>
						</li>
						<br />
						<br />
						<li>
							<a href='/outfits' id='faveButton'>
								<p><span class='glyphicon glyphicon-heart'></span> <strong>MAKE THIS AN OUTFIT!</strong></p>
							</a>
						</li>
					</ol>
				</div>
			</div>
			<div class='col-xs-1 cl-md-1'></div>
		</div>
	</div>
</div>


<% include partials/footer %>